@import '../../styles/colors.scss';
.login_form {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;

    & > label {
        text-align: left;
    }
}

.login_input {
    width: 100%;
    padding: 1rem 3rem;
    margin: 0.8rem 0;
    box-sizing: border-box;
    font-size: 3rem;
    color: $c-blue-500;
    background-color: $c-white;
    border: 0.2rem solid $c-brown-100;
    border-radius: 1rem;

    &:focus {
        border: 0.5rem solid $c-blue-200;
    }

    &.error {
        border: 0.3rem solid red;
    }

    &.valid {
        border: 0.3rem solid $c-blue-500;
    }
}