$r: 1.2rem;

@mixin puzzle-background($c) {
    background:
        radial-gradient($r at calc(100% - $r) calc(50% + $r / 2), #0000 98%, $c)
            $r calc(-1 * $r) no-repeat,
        radial-gradient($r at $r calc(50% - $r / 2), $c 98%, #0000);
}

@mixin puzzle-background-first($c) {
    background: radial-gradient(
            $r at calc(100% - $r) calc(50% + $r / 2),
            #0000 98%,
            $c
        )
        $r calc(-1 * $r) no-repeat;
}

@mixin puzzle-background-last($c) {
    background:
        radial-gradient($r at calc(100%) calc(100%), #0000 98%, $c) $r
            calc(-1 * $r) no-repeat,
        radial-gradient($r at $r calc(50% - $r / 2), $c 98%, #0000);
}

@mixin btn-styles() {
    position: relative;
    padding: 1.3rem 1rem;
    font-size: 3rem;
    color: $c-white;
    background-color: $c-blue-500;
    border: 2px solid $c-white;
    box-shadow: 0 0.5rem 0.5rem -0.4rem $c-white;
}

@media (max-width: 1000px) {
    $r: 0.4rem;
    @mixin puzzle-background($c) {
        background:
            radial-gradient($r at calc(100% - $r) calc(50% + $r / 2), #0000 98%, $c)
                $r calc(-1 * $r) no-repeat,
            radial-gradient($r at $r calc(50% - $r / 2), $c 98%, #0000);
    }
    
    @mixin puzzle-background-first($c) {
        background: radial-gradient(
                $r at calc(100% - $r) calc(50% + $r / 2),
                #0000 98%,
                $c
            )
            $r calc(-1 * $r) no-repeat;
    }
    
    @mixin puzzle-background-last($c) {
        background:
            radial-gradient($r at calc(100%) calc(100%), #0000 98%, $c) $r
                calc(-1 * $r) no-repeat,
            radial-gradient($r at $r calc(50% - $r / 2), $c 98%, #0000);
    }
    
}