@import "../../styles/colors.scss";

.logout_btn {
    position: absolute;
    top: 0;
    right: 2%;
    padding: 1rem;
    font-size: 2rem;
    color: $c-white;
    background-color: $c-blue-500;
    border: 0.2rem solid $c-white;
}
