@import '../../../styles/colors.scss';
@import '../mixin_source_block.scss';
@import '../card_animations.scss';

.play-field_source {
    min-width: 100%;
    width: fit-content;
    min-height: 7rem;
    display: flex;
    gap: 0.05rem;
    padding: 0.5rem;
    font-size: 2.5rem;
    color: $c-white;
    border: 0.1rem solid $c-white;
    border-radius: 1rem;

    &-card {
        padding: 1rem 1.5rem 2rem;
        margin: 0 -0.5rem -1rem;
        display: inline-block;
        overflow-x: hidden;
        transition: transform 0.6s ease;
        animation: cardSourceAnimation 0.6s ease-out;
        cursor: pointer;
        @include puzzle-background($c-brown-100);

        &:hover,
        &:focus {
            @include puzzle-background($c-brown-600);
        }
    }

    &-card[data-source='0'] {
        @include puzzle-background-first($c-brown-100);

        &:hover,
        &:focus {
            @include puzzle-background-first($c-brown-600);
        }
    }

    &-card[data-source='last'] {
        margin-right: 0.5rem;
        @include puzzle-background-last($c-brown-100);

        &:hover,
        &:focus {
            @include puzzle-background-last($c-brown-600);
        }
    }
}

@media (max-width: 1000px) {
    .play-field_source {
        min-height: 6rem;
        font-size: 2rem;
        padding: 0.5rem  0.5rem 0;

        &-card {
            padding: 0.5rem 2rem 1rem;
            margin: 0 -0.5rem -0.5rem;
            @include puzzle-background($c-brown-100);
        }
    
        &-card[data-source='0'] {
            @include puzzle-background-first($c-brown-100);

        }
    
        &-card[data-source='last'] {
            margin-right: 0.4rem;
            @include puzzle-background-last($c-brown-100);
        }
    }
}
