@import '../../../styles/colors.scss';

.start-screen_puzzle {
    width: 16rem;
    height: 16rem;
    position: absolute;
    padding-top: 6rem;
    color: $c-brown-600;
    -webkit-text-stroke: 0.05rem $c-black;
    background: url('../../../assets/img/svg/puzzle-svg.svg') center no-repeat;
    filter: drop-shadow(0.3rem 0.3rem 1.3rem $c-black);
    animation: puzzleAnimation 20s ease-out infinite;

    &[data-puzzle='0'] {
        top: 0;
        left: -15%;
    }

    &[data-puzzle='1'] {
        top: 20%;
        left: 0;
    }

    &[data-puzzle='2'] {
        top: 40%;
        left: 15%;
    }

    &[data-puzzle='3'] {
        top: 0;
        right: -15%;
    }

    &[data-puzzle='4'] {
        top: 20%;
        right: 0%;
    }

    &[data-puzzle='5'] {
        top: 40%;
        right: 15%;
    }
}

@keyframes puzzleAnimation {
    0% {
        transform: translateY(-150%);
        opacity: 1;
    }

    98% {
        transform: translateY(180%);
        opacity: 0.7;
    }

    100% {
        transform: translateY(200%);
        opacity: 0.3;
    }
}

@media (max-width: 1260px) {
    .start-screen_puzzle {
        width: 15rem;
        height: 15rem;
        background-size: 14rem;
    }
}

@media (max-width: 920px) {
    .start-screen_puzzle {
        width: 10rem;
        height: 10rem;
        padding-top: 4rem;
        background-size: 9rem;
    }
}
